@CHARSET "UTF-8";
#menu {
	background:white;
	position:absolute;
	left:50%;
	top: 133px;
	width: 150px;
	height: 400px;
	margin-left: 500px;
	box-shadow:1px 1px 10px #000;
}
.help-div {
	border-bottom: solid 1px black; 
	padding-top: 5px; 
	padding-bottom: 5px;
	font-size: 20px;
}
