@CHARSET "UTF-8";
	* {
		font-family: 'Nanum Gothic', sans-serif;
		/* font-weight: bold; */
    }
	.maru-content{
		height:56px;
		background-color:white;
		align:center;
		margin-top:50px;
	}
	.maru-content span{
		font-size: 16px;
		line-height: 50px;
		padding:15px 15px;
		color:#757575;
	}
	.maru-content span:hover{
		color:#6666ff;
		border-bottom:2px solid;
	}
	.board-div{
		width:100%;
		height:100%;
		margin-top:50px;
	}
	.board-inner{
		width:700px;
		height:100%;
		margin:0 auto;
		padding-top:10px;
	}
	#title-area{
		width:100%;
		line-height: 54px;
	    font-size: 30px;
	    font-weight: 400;
	    border: none;
	    border-bottom: 1px solid #ccc;
	    padding: 0;
	    background: 0 0;
	    color: #333;
	}
	#title-area::placeholder{
		color:black;
		font-weight:bold;
	}
	textarea.autosize { min-height: 50px; }
	#content-area textarea{
		width:100%;
		resize:none;
		font-size:1.3em;
		border:0px;
		padding:10px;
		padding-left:0px;
		overflow-y: hidden;
	}
	#hidden-content-area textarea{
		width:100%;
		resize:none;
		font-size:1.3em;
		border:0px;
		padding:10px;
		padding-left:0px;
		overflow-y: hidden;
	}
	*:focus{
		outline:none;
	}
	#payline{
		width:100%;
		height:30px;
		background:#808088;
		border-radius:5px;
		color:white;
		text-align:center;
		vertical-align:middle;
		padding-top:5px;
	}
	.board-option{
		border-top:1px solid lightgray;
		border-bottom:1px solid lightgray;
		position:fixed;
		background:white;
		z-index:1;
		width:100%;
	}
	
	
	.modal1 {
  		opacity: 0;
  		visibility: hidden;
  		position: fixed;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		text-align: left;
  		background: rgba(0,0,0, .6);
  		transition: opacity .25s ease;
  		z-index:100;
	}
	.modal2 {
  		opacity: 0;
  		visibility: hidden;
  		position: fixed;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		text-align: left;
  		background: rgba(0,0,0, .6);
  		transition: opacity .25s ease;
  		z-index:100;
	}
	.modal_bg {
  		position: absolute;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		cursor: pointer;
	}
	.modal-state, .modal-state2 {
	  	display: none;
	}
	.modal-state:checked + .modal1 {
  		opacity: 1;
  		visibility: visible;
	}
	.modal-state2:checked + .modal2 {
  		opacity: 1;
  		visibility: visible;
	}
	

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal_inner {
  transition: top .25s ease;
  position: absolute;
  top: -10%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 60%;
}

.modal_close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal_close:after,
.modal_close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal_close:hover:after,
.modal_close:hover:before {
  background: #aaa;
}

.modal_close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
.modal_inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.btn_label {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
  margin:0;
  margin-right:15px;
  height:20px;
}
.btn_label:hover,
.btn_label:focus {
  background: #2ecc71;
}
.row{
	height:60px;
}
.modal-leftlabel{
	float:left; 
	top:2.5px;
	position:relative;
	font-size:1em;
	margin:0;
	margin-left:10px;
	margin-right:20px;
}
.row select{
	float:right; 
	width:70%; 
	height:30px;
}
#pointLabel{
	position:relative;
	width:15%; 
	height:25px;
	text-align:center;
	vertical-align:middle; 
	border:1px solid #a9a9a9;
	border-left:0px;
	float:right;
	background:lightgray;
	padding-left:0; 
	margin-left:0;
}
#addedCategory{
	width:70%;
	height:22px;
}
#categoryDelete{
	background-image:url(/narumaru/resources/images/delete.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:22px;
	width:22px;
	border:1px solid #a9a9a9;
	border-left:0px;
	margin:0;
	cursor:pointer;
}
li label{
	padding-left:5px;
}
ul{
	padding:0;
	margin:0;
}