<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <typeAliases>
      <typeAlias alias="Member" type="com.kh.narumaru.member.model.vo.Member"/>
      <typeAlias alias="Channel" type="com.kh.narumaru.member.model.vo.Channel"/>
      <typeAlias alias="MChannel" type="com.kh.narumaru.member.model.vo.MChannel"/>
      <typeAlias alias="Board" type="com.kh.narumaru.narumaru.model.vo.Board"/>
      <typeAlias alias="Narumaru" type="com.kh.narumaru.narumaru.model.vo.Narumaru"/>
      <typeAlias alias="Declaration" type="com.kh.narumaru.declaration.model.vo.Declaration"/>
      <typeAlias alias="Payment" type="com.kh.narumaru.payment.model.vo.Payment"/>
      <typeAlias alias="MaruMember" type="com.kh.narumaru.maru.model.vo.MaruMember"/>
      <typeAlias alias="Notice" type="com.kh.narumaru.notice.model.vo.Notice"/>
      <typeAlias alias="Admin" type="com.kh.narumaru.member.model.vo.Member"/>
   </typeAliases>
   
   <mappers>
      <mapper resource="mappers/member-mapper.xml"/>
      <mapper resource="mappers/board-mapper.xml"/>
      <mapper resource="mappers/declaration-mapper.xml"/>
      <mapper resource="mappers/payment-mapper.xml"/>
      <mapper resource="mappers/narumaru-mapper.xml"/>
      <mapper resource="mappers/admin-mapper.xml"/>
       <mapper resource="mappers/maru-mapper.xml"/>
   </mappers>
   
</configuration>

