<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <typeAliases>
      <typeAlias alias="Member" type="com.kh.narumaru.member.model.vo.Member"/>
      <typeAlias alias="Channel" type="com.kh.narumaru.member.model.vo.Channel"/>
      <typeAlias alias="MChannel" type="com.kh.narumaru.member.model.vo.MChannel"/>
      <typeAlias alias="Board" type="com.kh.narumaru.narumaru.model.vo.Board"/>
      <typeAlias alias="Narumaru" type="com.kh.narumaru.narumaru.model.vo.Narumaru"/>
      <typeAlias alias="Declaration" type="com.kh.narumaru.declaration.model.vo.Declaration"/>
      <typeAlias alias="Payment" type="com.kh.narumaru.payment.model.vo.Payment"/>
      <typeAlias alias="Bank" type="com.kh.narumaru.payment.model.vo.Bank"/>
      <typeAlias alias="Withdraw" type="com.kh.narumaru.payment.model.vo.Withdraw"/>
      <typeAlias alias="MaruMember" type="com.kh.narumaru.maru.model.vo.MaruMember"/>
      <typeAlias alias="Notice" type="com.kh.narumaru.notice.model.vo.Notice"/>
      <typeAlias alias="Admin" type="com.kh.narumaru.member.model.vo.Member"/>
      <typeAlias alias="Category" type="com.kh.narumaru.naru.model.vo.Category"/>
      <typeAlias alias="Alarm" type="com.kh.narumaru.common.model.vo.Alarm"/>
      <typeAlias alias="Theme" type="com.kh.narumaru.naru.model.vo.Theme"/>
      <typeAlias alias="LogInfo" type="com.kh.narumaru.member.model.vo.LogInfo"/>
      <typeAlias alias="Neighbor" type="com.kh.narumaru.common.model.vo.Neighbor"/>
      <typeAlias alias="HiddenPayment" type="com.kh.narumaru.naru.model.vo.HiddenPayment"/>
      <typeAlias alias="UsePoint" type="com.kh.narumaru.payment.model.vo.UsePoint"/>
      <typeAlias alias="Stats" type="com.kh.narumaru.payment.model.vo.Stats"/>
   </typeAliases>
   
   <mappers>
      <mapper resource="mappers/member-mapper.xml"/>
      <mapper resource="mappers/board-mapper.xml"/>
      <mapper resource="mappers/declaration-mapper.xml"/>
      <mapper resource="mappers/payment-mapper.xml"/>
      <mapper resource="mappers/narumaru-mapper.xml"/>
      <mapper resource="mappers/admin-mapper.xml"/>
      <mapper resource="mappers/maru-mapper.xml"/>
      <mapper resource="mappers/naru-mapper.xml"/>
      <mapper resource="mappers/alarm-mapper.xml"/>
      <mapper resource="mappers/neighbor-mapper.xml"/>
      <mapper resource="mappers/hidden-mapper.xml"/>
   </mappers>
   
</configuration>

