<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Admin">
	<resultMap type="hashmap" id="memberResultSet">
		<result property="enroll_date" column="ENROLL_DATE"/>
	</resultMap>
	
	<select id="selectEnroll1" resultType="_int">
		SELECT COUNT(TO_CHAR(ENROLL_DATE,'RRRRMM')) FROM MEMBER GROUP BY TO_CHAR(ENROLL_DATE,'RRRRMM')
	</select>
	
	<select id="selectEnroll2" resultType="java.lang.String">
		SELECT TO_CHAR(ENROLL_DATE,'RRRRMM') FROM MEMBER GROUP BY TO_CHAR(ENROLL_DATE,'RRRRMM')
	</select>
	
	<select id="memberList1" resultMap="memberResultSet">
		SELECT M.EMAIL, M.PHONE, M.BIRTHDAY, M.NICKNAME,(SELECT SUM (P.AMOUNT) FROM PAYMENT P GROUP BY P.MNO WHERE P.MNO = M.MNO) FROM MEMBER M
	</select>
	
</mapper>