<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Admin">
	<resultMap type="Admin" id="memberResultSet1">
		<id property="mid" column="MNO"/>
		<result property="email" column="EMAIL"/>
		<result property="userPwd" column="PASSWORD"/>
		<result property="nickName" column="NICNAME"/>
		<result property="profileName" column="PROFILENAME"/>
		<result property="gender" column="GENDER"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="phone" column="PHONE"/>
		<result property="enroll_date" column="ENROLL_DATE"/>
		<result property="modify_date" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="total_amount" column="TOTAL_AMOUNT"/>
	</resultMap>
	
	<select id="selectEnroll1" resultType="_int">
		SELECT COUNT(TO_CHAR(ENROLL_DATE,'RRRRMM')) FROM MEMBER GROUP BY TO_CHAR(ENROLL_DATE,'RRRRMM')
	</select>
	
	<select id="selectEnroll2" resultType="java.lang.String">
		SELECT TO_CHAR(ENROLL_DATE,'RRRRMM') FROM MEMBER GROUP BY TO_CHAR(ENROLL_DATE,'RRRRMM')
	</select>
	
	<select id="memberList1" resultMap="memberResultSet1">
		SELECT M.MNO, M.EMAIL, M.PHONE, M.BIRTHDAY, M.NICNAME,(SELECT SUM (P.AMOUNT) FROM PAYMENT P GROUP BY P.MNO HAVING P.MNO = M.MNO) AS TOTAL_AMOUNT FROM MEMBER M
	</select>
	
</mapper>