<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Alarm">
	
	<resultMap type="Alarm" id="alarmResultSet">
		<id property="ano" column="ANO"/>
		<result property="atno" column="ATNO"/>
		<result property="type_name" column="TYPE_NAME"/>
		<result property="alarm_date" column="ALARM_DATE"/>
		<result property="receive_mno" column="RECEIVE_MNO"/>
		<result property="receive_nicname" column="RECEIVE_NICNAME"/>
		<result property="send_mno" column="SEND_MNO"/>
		<result property="send_nicname" column="SEND_NICNAME"/>
		<result property="send_nmno" column="SEND_NMNO"/>
		<result property="nm_title" column="NM_TITLE"/>
		<result property="send_bno" column="SEND_BNO"/>
		<result property="b_title" column="B_TITLE"/>
		<result property="b_content" column="B_CONTENT"/>
		<result property="status" column="STATUS"/>
 	</resultMap>
	
	<insert id="alarmRequest">
		INSERT INTO ALARM VALUES(SEQ_ANO.NEXTVAL, #{atno}, sysdate
								, #{receive_mno}, #{send_mno}, #{send_nmno}
								, #{send_bno}, default)
	</insert>	
	
	<select id="alarmResponse" resultMap="alarmResultSet" parameterType="_int">
		SELECT A.ANO, A.ATNO, A.ALARM_DATE
		    , A.RECEIVE_MNO, M1.NICNAME RECEIVE_NICNAME, A.SEND_MNO
		    , M2.NICNAME SEND_NICNAME, A.SEND_NMNO, N.NM_TITLE
		    , A.SEND_BNO, B.B_TITLE, 
            CASE 
            WHEN LENGTH(B.B_CONTENT)>20 
               THEN SUBSTR(B.B_CONTENT,0,20)||'..'
               ELSE B.B_CONTENT
            END as B_CONTENT
		    ,A.STATUS 
		FROM ALARM A 
		LEFT JOIN MEMBER M1 ON(A.RECEIVE_MNO=M1.MNO)
		LEFT JOIN MEMBER M2 ON(A.SEND_MNO=M2.MNO)
		LEFT JOIN NARUMARU N ON(A.SEND_NMNO=N.NMNO)
        LEFT JOIN BOARD B ON(A.SEND_BNO=B.BNO)
		WHERE RECEIVE_MNO=#{mno}
		ORDER BY A.ANO DESC
	</select>
	
</mapper>