<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Board">
	
	<resultMap type="Board" id="boardResultSet">
		<id property="bno" column="BNO"/>
		<result property="bTno" column="B_TNO"/>
		<result property="bType" column="B_TYPE"/>
		<result property="bTitle" column="B_TITLE"/>
		<result property="bContent" column="B_CONTENT"/>
		<result property="bHidden" column="B_HIDDEN"/>
		<result property="mno" column="MNO"/>
		<result property="bWriter" column="NICNAME"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="nmno" column="NMNO"/>
		<result property="cano" column="CANO"/>
		<result property="cno" column="CNO"/>
		<result property="bLevel" column="B_LEVEL"/>
		<result property="targetBno" column="TARGET_BNO"/>
		<result property="isOpen" column="IS_OPEN"/>
		<result property="comments" column="COMMENTS"/>
	</resultMap>
	
	<resultMap type="Notice" id="noticeResultSet">
		<id property="nid" column="BNO"/>
		<result property="noType" column="B_TYPE"/>
		<result property="noTitle" column="B_TITLE"/>
		<result property="noContent" column="B_CONTENT"/>
		<result property="writerId" column="MNO"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="status" column="STATUS"/>

	</resultMap>
	<select id="selectBoardList" resultMap="boardResultSet" parameterType="_int">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, B_CONTENT, B_HIDDEN, b.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, NMNO, CANO, CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT,
    	(SELECT COUNT(*) FROM BOARD WHERE TARGET_BNO = B.BNO) AS COMMENTS
		FROM BOARD B
		JOIN MEMBER M ON(B.MNO = M.MNO)
		WHERE NMNO = #{nmno} AND B.STATUS = 'Y' AND (B_TYPE = 200 OR B_TYPE = 100)
		ORDER BY BNO DESC
	</select>
	
	<select id="selectCommentList" resultMap="boardResultSet" parameterType="_int">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, B_CONTENT, B_HIDDEN, b.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, NMNO, CANO, CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT
		FROM BOARD B
		JOIN MEMBER M ON(B.MNO = M.MNO)
		WHERE NMNO = #{nmno} AND B.STATUS = 'Y' AND (B_TYPE = 101 OR B_TYPE = 201)
	</select>
	
	<select id="selectBoardOne" resultMap="boardResultSet" parameterType="_int">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, B_CONTENT, B_HIDDEN, b.MNO, M.NICNAME, TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE, B.MODIFY_DATE, B.STATUS, NMNO, CANO, CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT
		FROM BOARD B
		JOIN MEMBER M ON(B.MNO = M.MNO)
		WHERE BNO = #{bno}
	</select>
	
	<update id="updateBoardOne" parameterType="Board">
		UPDATE BOARD
		SET B_TITLE = #{bTitle}, B_CONTENT = #{bContent}, B_HIDDEN = #{bHidden}, MODIFY_DATE = SYSDATE, CANO = #{cano}, CNO = #{cno}
		WHERE BNO = #{bno}
	</update>
	
	<update id="deleteBoardOne" parameterType="_int">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BNO = #{bno}
	</update>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO BOARD VALUES(SEQ_BNO.NEXTVAL, NULL, #{noType} , #{noTitle}, #{noContent}, NULL, 2, SYSDATE, SYSDATE, DEFAULT, 1,NULL,NULL,NULL,NULL,NULL,NULL )
	</insert>
	
	<select id="noticeSelectList" resultMap ="noticeResultSet">
		SELECT * FROM BOARD
		WHERE STATUS = 'Y'
		<choose>
			<when test = "noType=700">
				AND B_TYPE = 700
			</when>
			<otherwise>
				AND B_TYPE = 800
			</otherwise>
		</choose>
	</select>
	
	<select id = "noticeSelectListOne" parameterType = "_int" resultMap = "noticeResultSet">
		SELECT * FROM BOARD
		WHERE STATUS = 'Y'
		AND BNO = #{nid}
	</select>
</mapper>














  
