<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Board">
	
	<resultMap type="Board" id="boardResultSet">
		<id property="bno" column="BNO"/>
		<result property="bTno" column="B_TNO"/>
		<result property="bType" column="B_TYPE"/>
		<result property="bTitle" column="B_TITLE"/>
		<result property="bContent" column="B_CONTENT"/>
		<result property="bHidden" column="B_HIDDEN"/>
		<result property="mno" column="MNO"/>
		<result property="bWriter" column="NICNAME"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="nmno" column="NMNO"/>
		<result property="cano" column="CANO"/>
		<result property="cno" column="CNO"/>
	</resultMap>
	
	<select id="selectBoardList" resultMap="boardResultSet" parameterType="_int">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, B_CONTENT, B_HIDDEN, b.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, NMNO, CANO, CNO
		FROM BOARD B
		JOIN MEMBER M ON(B.NMNO = M.MNO)
		WHERE NMNO = #{nmno} AND B.STATUS = 'Y'
		ORDER BY BNO DESC
	</select>
</mapper>














  
