<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Board">
	
	<resultMap type="Board" id="boardResultSet">
		<id property="bno" column="BNO"/>
		<result property="bTno" column="B_TNO"/>
		<result property="bType" column="B_TYPE"/>
		<result property="bTitle" column="B_TITLE"/>
		<result property="profileName" column="PROFILENAME"/>
		<result property="bContent" column="B_CONTENT"/>
		<result property="bHidden" column="B_HIDDEN"/>
		<result property="mno" column="MNO"/>
		<result property="bWriter" column="NICNAME"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="nmno" column="NMNO"/>
		<result property="cano" column="CANO"/>
		<result property="caname" column="CANAME"/>
		<result property="cno" column="CNO"/>
		<result property="bLevel" column="B_LEVEL"/>
		<result property="targetBno" column="TARGET_BNO"/>
		<result property="isOpen" column="IS_OPEN"/>
		<result property="needPoint" column="NEED_POINT"/>
		<result property="comments" column="COMMENTS"/>
		<result property="nmTitle" column="NM_TITLE"/>
	</resultMap>
	
	<resultMap type="Notice" id="noticeResultSet">
		<id property="nid" column="BNO"/>
		<result property="noType" column="B_TYPE"/>
		<result property="noTitle" column="B_TITLE"/>
		<result property="noContent" column="B_CONTENT"/>
		<result property="writerId" column="MNO"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>		
	</resultMap>
	
	<select id="selectBoardList" resultMap="boardResultSet" parameterType="_int">
      SELECT BNO, B_TNO, B_TYPE, B_TITLE, M.PROFILENAME, B_CONTENT, B_HIDDEN, B.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, B.NMNO, B.CANO, 
      CASE WHEN C.CANAME IS NULL THEN '미분류' ELSE C.CANAME END AS CANAME , CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT,
       (SELECT COUNT(*) FROM BOARD WHERE TARGET_BNO = B.BNO) AS COMMENTS
      FROM BOARD B
      JOIN MEMBER M ON(B.MNO = M.MNO)
       LEFT JOIN CATEGORY C ON(B.CANO = C.CANO)
      WHERE B.NMNO = #{nmno} AND B.STATUS = 'Y' AND (B_TYPE = 200 OR B_TYPE = 100)
      ORDER BY BNO DESC
   </select>
   
   <select id="selectCategoryBoardList" resultMap="boardResultSet" parameterType="Board">
      SELECT BNO, B_TNO, B_TYPE, B_TITLE, M.PROFILENAME, B_CONTENT, B_HIDDEN, B.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, B.NMNO, B.CANO, 
      CASE WHEN C.CANAME IS NULL THEN '미분류' ELSE C.CANAME END AS CANAME , CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT,
       (SELECT COUNT(*) FROM BOARD WHERE TARGET_BNO = B.BNO) AS COMMENTS
      FROM BOARD B
      JOIN MEMBER M ON(B.MNO = M.MNO)
       LEFT JOIN CATEGORY C ON(B.CANO = C.CANO)
      WHERE B.NMNO = #{nmno} AND B.CANO = #{cano} AND B.STATUS = 'Y' AND (B_TYPE = 200 OR B_TYPE = 100)
      ORDER BY BNO DESC
   </select>
	
	<select id="selectCommentList" resultMap="boardResultSet" parameterType="_int">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, M.PROFILENAME, B_CONTENT, B_HIDDEN, B.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, B.NMNO, B.CANO, 
      CASE WHEN C.CANAME IS NULL THEN '미분류' ELSE C.CANAME END AS CANAME , CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT,
       (SELECT COUNT(*) FROM BOARD WHERE TARGET_BNO = B.BNO) AS COMMENTS
      FROM BOARD B
      JOIN MEMBER M ON(B.MNO = M.MNO)
       LEFT JOIN CATEGORY C ON(B.CANO = C.CANO)
      WHERE B.NMNO = #{nmno} AND B.STATUS = 'Y' AND (B_TYPE = 201 OR B_TYPE = 101)
      ORDER BY BNO DESC
	</select>
	
	<select id="selectWritedBoardList" resultMap="boardResultSet" parameterType="_int">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, B_CONTENT, B_HIDDEN, b.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, NMNO, CANO, CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT,
    	(SELECT COUNT(*) FROM BOARD WHERE TARGET_BNO = B.BNO) AS COMMENTS
		FROM BOARD B
		JOIN MEMBER M ON(B.MNO = M.MNO)
		WHERE B.MNO = #{mid} AND B.STATUS = 'Y' AND (B_TYPE = 200 OR B_TYPE = 100)
		ORDER BY BNO DESC
	</select>
	
	<select id="selectWritedCommentList" resultMap="boardResultSet" parameterType="_int">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, M.PROFILENAME, B_CONTENT, B_HIDDEN, B.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, B.NMNO, B.CANO, 
      CASE WHEN C.CANAME IS NULL THEN '미분류' ELSE C.CANAME END AS CANAME , CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT,
       (SELECT COUNT(*) FROM BOARD WHERE TARGET_BNO = B.BNO) AS COMMENTS
      FROM BOARD B
      JOIN MEMBER M ON(B.MNO = M.MNO)
       LEFT JOIN CATEGORY C ON(B.CANO = C.CANO)
      WHERE B.NMNO = #{nmno} AND B.STATUS = 'Y' AND (B_TYPE = 201 OR B_TYPE = 101)
      ORDER BY BNO DESC
	</select>
	
	<select id="selectCommentListAll" resultMap="boardResultSet">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, B_CONTENT, B_HIDDEN, b.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, NMNO, CANO, CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT
		FROM BOARD B
		JOIN MEMBER M ON(B.MNO = M.MNO)
		WHERE B.STATUS = 'Y' AND (B_TYPE = 101 OR B_TYPE = 201)

	</select>
	
	<select id="selectBoardOne" resultMap="boardResultSet" parameterType="_int">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, B_CONTENT, B_HIDDEN, b.MNO, M.NICNAME, TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE, B.MODIFY_DATE, B.STATUS, NMNO, CANO, CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT
		FROM BOARD B
		JOIN MEMBER M ON(B.MNO = M.MNO)
		WHERE BNO = #{bno}
	</select>
	
	<update id="updateBoardOne" parameterType="Board">
		UPDATE BOARD
		SET B_TITLE = #{bTitle}, B_CONTENT = #{bContent}, B_HIDDEN = #{bHidden}, MODIFY_DATE = SYSDATE, CANO = #{cano}, CNO = #{cno}
		WHERE BNO = #{bno}
	</update>
	
	<update id="deleteBoardOne" parameterType="_int">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BNO = #{bno}
	</update>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO BOARD VALUES(SEQ_BNO.NEXTVAL, NULL, #{noType} , #{noTitle}, #{noContent}, NULL, #{writerId}, SYSDATE, SYSDATE, DEFAULT, 1,NULL,NULL,NULL,NULL,NULL,NULL )
	</insert>
	<!--  -->
	<select id="noticeSelectList" resultMap ="noticeResultSet">
		SELECT * FROM BOARD
		WHERE STATUS = 'Y'
		<choose>
			<when test ="noType==700">
				AND B_TYPE = 700
			</when>
			<otherwise>
				AND B_TYPE LIKE '80%'
			</otherwise>
		</choose>
		ORDER BY BNO ASC
	</select>
	
	<select id = "noticeSelectListOne" parameterType = "_int" resultMap = "noticeResultSet">
		SELECT * FROM BOARD
		WHERE STATUS = 'Y'
		AND BNO = #{nid}
	</select>
	
	<update id= "updateNoticeCommit" parameterType = "Notice">
		UPDATE BOARD
		SET B_TITLE = #{noTitle}, B_CONTENT =#{noContent}, MODIFY_DATE = SYSDATE 
		WHERE BNO = #{nid}	
	</update>
	

	<select id="getBoardWriter" resultType="_int">
		SELECT MNO FROM BOARD WHERE BNO=#{targetBno}
	</select>

	<delete id ="deleteNotice" parameterType="_int" >
		DELETE FROM BOARD
		WHERE BNO = #{nid}  
	</delete>
	
	<select id="searchBoard" resultMap="boardResultSet">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, M.PROFILENAME, B_CONTENT, B_HIDDEN, B.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, NMNO, CANO, CNO, B_LEVEL, TARGET_BNO, IS_OPEN, NEED_POINT,
    	(SELECT COUNT(*) FROM BOARD WHERE TARGET_BNO = B.BNO) AS COMMENTS
		FROM BOARD B
		JOIN MEMBER M ON(B.MNO = M.MNO)
		WHERE NMNO = #{nmno} AND B.STATUS = 'Y' AND (B_TITLE LIKE '%' || #{bContent} || '%' OR B_CONTENT LIKE '%' || #{bContent} || '%' OR M.NICNAME LIKE '%' || #{bContent} || '%')
		ORDER BY BNO DESC
	</select>

	<insert id="questionInsert" parameterType="Notice">
		INSERT INTO BOARD
		VALUES(SEQ_BNO.NEXTVAL, NULL, #{noType}, #{noTitle}, #{noContent}, NULL, #{writerId}, SYSDATE,SYSDATE, DEFAULT, 1 ,NULL,NULL,NULL,NULL,NULL,NULL )
	</insert>
	
	<insert id="questionFileInsert" parameterType="Notice">
		INSERT INTO FILET
		VALUES(SEQ_AT_NO.NEXTVAL, #{orFileName}, #{chFileName}, NULL, SYSDATE, NULL, NULL, NULL, 'Y', NULL, NULL, NULL, SEQ_BNO.CURRVAL)
	</insert>

	<select id="questionSelectList" parameterType = "Notice">
		SELECT *
		FROM BOARD
		WHERE B_TYPE = 900
		ORDER BY BNO ASC
		
	</select>
	
	<select id ="selectNotice" resultMap="noticeResultSet" parameterType = "_int">
		SELECT BNO
		FROM( SELECT ROWNUM, BNO
			  FROM BOARD
			  WHERE B_TYPE = 700
			 
			)
		WHERE ROWNUM=1
	</select>
	
	<select id="selectNoticeListCount" resultType = "_int" parameterType ="_int">
		SELECT COUNT(*) FROM BOARD WHERE B_TYPE = 700

	</select>

	<select id="SearchFAQList" resultType="hashmap">
		SELECT * 
		FROM BOARD
		WHERE B_TYPE LIKE '80%'
		AND (B_TITLE LIKE '%'||#{keyWord}||'%' OR 
			 B_CONTENT LIKE '%'||#{keyWord}||'%')
	</select>

	<select id="selectChannelBoardList" resultMap="boardResultSet" parameterType="_int">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, M.PROFILENAME, B_CONTENT, B_HIDDEN, B.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, B.NMNO, B.CANO, 
	      CASE WHEN C.CANAME IS NULL THEN '미분류' ELSE C.CANAME END AS CANAME , B.CNO, B.B_LEVEL, B.TARGET_BNO, B.IS_OPEN, B.NEED_POINT,
	       (SELECT COUNT(*) FROM BOARD WHERE TARGET_BNO = B.BNO) AS COMMENTS, NM.NM_TITLE
	      FROM BOARD B
	      JOIN MEMBER M ON(B.MNO = M.MNO)
	      LEFT JOIN CATEGORY C ON(B.CANO = C.CANO)
	      JOIN NARUMARU NM ON(B.NMNO = NM.NMNO)
	      WHERE B.CNO = #{cno} AND B.STATUS = 'Y' AND (B_TYPE = 200 OR B_TYPE = 100)
	      ORDER BY BNO DESC
	</select>
	
	<select id="searchNarumaruBoard" resultMap="boardResultSet" parameterType="String">
		SELECT BNO, B_TNO, B_TYPE, B_TITLE, M.PROFILENAME, REGEXP_REPLACE(B_CONTENT, '&lt;[^>]*&gt;|\&amp;([^;])*;', '') AS B_CONTENT, B_HIDDEN, B.MNO, M.NICNAME, B.CREATE_DATE, B.MODIFY_DATE, B.STATUS, B.NMNO, B.CANO, 
	      CASE WHEN C.CANAME IS NULL THEN '미분류' ELSE C.CANAME END AS CANAME , B.CNO, B.B_LEVEL, B.TARGET_BNO, B.IS_OPEN, B.NEED_POINT,
	       (SELECT COUNT(*) FROM BOARD WHERE TARGET_BNO = B.BNO) AS COMMENTS, NM.NM_TITLE
	      FROM BOARD B
	      JOIN MEMBER M ON(B.MNO = M.MNO)
	      LEFT JOIN CATEGORY C ON(B.CANO = C.CANO)
	      JOIN NARUMARU NM ON(B.NMNO = NM.NMNO)
	      WHERE B.B_TITLE LIKE '%' || #{searchCondition} || '%' AND B.STATUS = 'Y' AND (B_TYPE = 200 OR B_TYPE = 100)
	      ORDER BY BNO DESC
	</select>
</mapper>














  
