<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Maru">
	
	<resultMap type="MaruMember" id="MaruResultSet">
		<id property="conno" column="CONNO"/>
		<result property="mno" column="MNO"/>
		<result property="conLevel" column="CON_LEVEL"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="deleteDate" column="DELETE_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="nmno" column="NMNO"/>
	</resultMap>

	<insert id="insertMaruMember">
		INSERT INTO MARU_MEMBER VALUES(SEQ_CONNO.NEXTVAL, #{mno}, #{conLevel}, SYSDATE, NULL, 'Y', #{nmno})
	</insert> 
	
	<select id="countMaruMember" resultType="_int">
		SELECT COUNT(*) FROM MARU_MEMBER WHERE NMNO=#{nmno}
	</select>
	
	<select id="selectMaruList" resultType="hashmap">
		SELECT * FROM MARU_MEMBER M JOIN NARUMARU N ON(M.NMNO = N.NMNO) WHERE M.MNO=#{mno} AND NM_CATEGORY = 1
	</select>
	
	<select id="selectMaruMemberList" resultType="hashmap">
		SELECT * FROM MARU_MEMBER MM JOIN MEMBER M ON(M.MNO=MM.MNO) WHERE MM.NMNO=#{nmno}
	</select>
	
	<select id="checkMaruMember" resultType="_int"> 
		SELECT COUNT(*) FROM MARU_MEMBER WHERE NMNO=#{nmno} AND MNO=#{mno}
	</select>
	
	<select id="selectMasterMno" resultType="_int">
		SELECT MNO FROM MARU_MEMBER WHERE CON_LEVEL=0 AND NMNO=#{nmno}
	</select>
	
	<insert id="insertInvatemember">
		INSERT INTO INVATE_MEMBER VALUES(SEQ_INO.NEXTVAL, #{nmno}, #{mno}, DEFAULT)
	</insert>
	
	<select id="selectInvatemember" parameterType="_int" resultType="hashmap">
		SELECT * FROM INVATE_MEMBER IM JOIN MEMBER M ON(M.MNO = IM.MNO) WHERE IM.NMNO=#{nmno}
	</select>
	
	<select id="selectOneMember" parameterType="java.lang.String" resultType="_int">
		SELECT MNO FROM MEMBER WHERE EMAIL = #{email}	
	</select>
</mapper>














  
