<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Narumaru">
	
	<resultMap type="Narumaru" id="NarumaruResultSet">
		<id property="nmno" column="NMNO"/>
		<result property="nmCategory" column="NM_CATEGORY"/>
		<result property="cno" column="CNO"/>
		<result property="nmTitle" column="NM_TITLE"/>
		<result property="nmIntro" column="NM_INTRO"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="isOpen" column="IS_OPEN"/>
		<result property="status" column="STATUS"/>
	</resultMap> 
	
	<resultMap type="Board" id="boardResultSet2">
		<id property="bno" column="BNO"/>
		<result property="bTno" column="B_TNO"/>
		<result property="bType" column="B_TYPE"/>
		<result property="bTitle" column="B_TITLE"/>
		<result property="bContent" column="B_CONTENT"/>
		<result property="bHidden" column="B_HIDDEN"/>
		<result property="mno" column="MNO"/>
		<result property="bWriter" column="NICNAME"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="nmno" column="NMNO"/>
		<result property="cano" column="CANO"/>
		<result property="cno" column="CNO"/>
		<result property="bLevel" column="B_LEVEL"/>
		<result property="targetBno" column="TARGET_BNO"/>
		<result property="isOpen" column="IS_OPEN"/>
	</resultMap>
	
	<select id="selectNarumaruOne" resultMap="NarumaruResultSet" parameterType="_int">
		SELECT * FROM NARUMARU WHERE NMNO = #{nmno}
	</select>
	
	<select id="checkNarumaruOwner" resultType="_int" parameterType="_int">
		SELECT MNO FROM MARU_MEMBER WHERE NMNO = #{nmno} AND CON_LEVEL = 0
	</select>

	<insert id="insertNarumaru" useGeneratedKeys="true" keyProperty="nmno">
		<selectKey keyProperty="nmno" resultType="int" order="BEFORE">
			SELECT SEQ_NMNO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NARUMARU VALUES(#{nmno}, #{nmCategory}, #{cno}, #{nmTitle}, #{nmIntro}, SYSDATE, #{isOpen}, 'Y')
	</insert>
	
	<insert id="insertNarumaruBoard">
		INSERT INTO BOARD VALUES(SEQ_BNO.NEXTVAL, (SELECT MAX(B_TNO)+1 FROM BOARD WHERE NMNO = #{nmno}), #{bType}, #{bTitle}, #{bContent}, #{bHidden}, #{mno}, SYSDATE, SYSDATE, 'Y', #{nmno}, #{cano}, #{cno}, 0, NULL, #{isOpen}, 100)
	</insert>
	
	<insert id="insertComment">
		INSERT INTO BOARD VALUES(SEQ_BNO.NEXTVAL, 0, #{bType}, NULL, #{bContent}, NULL, #{mno}, SYSDATE, SYSDATE, 'Y', #{nmno}, NULL, NULL, 0, ${targetBno}, #{isOpen}, NULL) 
	</insert>
</mapper>














  
