<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Payment">
	
	<resultMap type="Payment" id="paymentResultSet">
		<id property="payNo" column="PAY_NO"/>
		<result property="mno" column="MNO"/>
		<result property="impUid" column="IMP_UID"/>
		<result property="amount" column="AMOUNT"/>
		<result property="payPg" column="PAY_PG"/>
		<result property="payMethod" column="PAY_METHOD"/>
		<result property="merchantUid" column="MERCHANT_UID"/>
		<result property="payName" column="PAY_NAME"/>
		<result property="buyerName" column="BUYER_NAME"/>
		<result property="applyNum" column="APPLY_NUM"/>
		<result property="buyerEmail" column="BUYER_EMAIL"/>
		<result property="status" column="STATUS"/>
		<result property="payDay" column="PAYDAY"/>
		<result property="point" column="POINT"/>
 	</resultMap>
	
	<insert id="paymentInsert">
		INSERT INTO PAYMENT VALUES(SEQ_PAY_NO.NEXTVAL, #{mno}, #{impUid}
									, #{amount}, #{payPg}, #{payMethod}
									, #{merchantUid}, #{payName}, #{buyerName}
									, #{applyNum}, #{buyerEmail}, 'Y', SYSDATE, #{point})
	</insert>
	<select id="myPointInquiry" resultType="_int">
		SELECT SUM(POINT) FROM PAYMENT WHERE MNO=#{mno}
	</select>
	<select id="selectPaymentListCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) FROM PAYMENT WHERE MNO=#{mno}
	</select>
	<select id="selectPaymentList" resultMap="paymentResultSet">
		SELECT AMOUNT, PAY_METHOD, POINT, TO_CHAR(payDay, 'yyyy-mm-dd PM hh:mi:ss') AS payDay FROM PAYMENT 
		WHERE MNO=#{mno} ORDER BY PAY_NO DESC
	</select>
</mapper>