<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Payment">
	
	<resultMap type="Payment" id="paymentResultSet">
		<id property="payNo" column="PAY_NO"/>
		<result property="mno" column="MNO"/>
		<result property="impUid" column="IMP_UID"/>
		<result property="amount" column="AMOUNT"/>
		<result property="payPg" column="PAY_PG"/>
		<result property="payMethod" column="PAY_METHOD"/>
		<result property="merchantUid" column="MERCHANT_UID"/>
		<result property="payName" column="PAY_NAME"/>
		<result property="buyerName" column="BUYER_NAME"/>
		<result property="applyNum" column="APPLY_NUM"/>
		<result property="buyerEmail" column="BUYER_EMAIL"/>
		<result property="status" column="STATUS"/>
		<result property="payDay" column="PAYDAY"/>
		<result property="point" column="POINT"/>
 	</resultMap>
	
	<resultMap type="Bank" id="bankResultSet">
		<id property="bcode" column="BCODE"/>
		<result property="bank_name" column="BANK_NAME"/>
	</resultMap>
	
	<resultMap type="Withdraw" id="withdrawResultSet">
		<id property="wno" column="WNO"/>
		<result property="resister_date" column="RESISTER_DATE"/>
		<result property="resister_dateStr" column="RESISTER_DATESTR"/>
		<result property="withdraw_date" column="WITHDRAW_DATE"/>
		<result property="withdraw_dateStr" column="WITHDRAW_DATESTR"/>
		<result property="mno" column="MNO"/>
		<result property="point" column="POINT"/>
		<result property="amount" column="AMOUNT"/>
		<result property="bcode" column="BCODE"/>
		<result property="account_number" column="ACCOUNT_NUMBER"/>
		<result property="account_holder" column="ACCOUNT_HOLDER"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap type="UsePoint" id="usingHistoryResultSet">
		<id property="pno" column="PNO"></id>
		<result property="pContent" column="PCONTENT"/>
		<result property="pdate" column="PDATE"/>
		<result property="mno" column="MNO"/>
		<result property="amount" column="AMOUNT"/>
		<result property="bno" column="BNO"/>
	</resultMap>
	
	<insert id="paymentInsert">
		INSERT INTO PAYMENT VALUES(SEQ_PAY_NO.NEXTVAL, #{mno}, #{impUid}
									, #{amount}, #{payPg}, #{payMethod}
									, #{merchantUid}, #{payName}, #{buyerName}
									, #{applyNum}, #{buyerEmail}, 'Y', SYSDATE, #{point})
	</insert>
	<select id="myPaymentPointInquiry" resultType="_int" parameterType="_int">
		SELECT SUM(POINT) FROM PAYMENT WHERE MNO=#{mno}
	</select>
	<select id="myRefundPointInquiry" resultType="_int" parameterType="_int">
		SELECT SUM(POINT) FROM WITHDRAW WHERE MNO=#{mno}
	</select>
	<select id="selectPaymentListCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) FROM PAYMENT WHERE MNO=#{mno}
	</select>
	<select id="selectPaymentList" resultMap="paymentResultSet">
		SELECT AMOUNT, PAY_METHOD, POINT, TO_CHAR(payDay, 'yyyy-mm-dd PM hh:mi:ss') AS payDay FROM PAYMENT 
		WHERE MNO=#{mno} ORDER BY PAY_NO DESC
	</select>
	<select id="selectPayment" resultMap="paymentResultSet" parameterType="_int">
		SELECT PAY_NO 
		FROM(
		SELECT ROWNUM ,PAY_NO 
		FROM PAYMENT 
		WHERE MNO=#{mno}) 
		WHERE ROWNUM=1
	</select>
	<select id="selectAllBankList" resultMap="bankResultSet">
		SELECT * FROM BANK
	</select>
	<insert id="refundInsert">
		INSERT INTO WITHDRAW VALUES (SEQ_WNO.NEXTVAL, SYSDATE, null, #{mno}, #{point}, #{amount}, #{bcode}, #{account_number}, #{account_holder}, '입금 대기')
	</insert>
	<select id="selectRefund" resultMap="withdrawResultSet" parameterType="_int">
		SELECT WNO 
		FROM(
		SELECT ROWNUM ,WNO 
		FROM WITHDRAW 
		WHERE MNO=#{mno}) 
		WHERE ROWNUM=1
	</select>
	<select id="selectRefundListCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) FROM WITHDRAW WHERE MNO=#{mno}
	</select>
	<select id="selectRefundList" resultMap="withdrawResultSet">
		SELECT TO_CHAR(RESISTER_DATE, 'yyyy-mm-dd PM hh:mi:ss') AS RESISTER_DATESTR
			, WNO, POINT, AMOUNT, STATUS
			, TO_CHAR(WITHDRAW_DATE, 'yyyy-mm-dd PM hh:mi:ss') AS WITHDRAW_DATESTR 
		FROM WITHDRAW 
		WHERE MNO=#{mno} ORDER BY WNO DESC
	</select>
	<select id="deleteWithdraw" parameterType="_int">
		DELETE FROM WITHDRAW WHERE WNO=#{wno}
	</select>

	<insert id="insertUsePoint" parameterType="UsePoint">
		INSERT INTO USINGHISTORY VALUES(SEQ_PNO.NEXTVAL, #{pContent}, SYSDATE, #{mno}, #{amount}, #{bno})
	</insert>	
	
	<select id="selectUsePoint" resultMap="usingHistoryResultSet" parameterType="_int">
		SELECT * FROM USINGHISTORY WHERE MNO = #{mno}
	</select>
</mapper>